body {
  background-color: rgb(224, 191, 141);
}

h1 {
  color: rgb(11, 11, 172);
  margin-left: 20px;
}
#muskrat {
    color:blueviolet;
    font-family:cursive;
    font-weight:bold
}
#mquote {
    color:rgb(82, 0, 158);
    font-family:
}